*{
    font-size: .9em;
    font-family: arial;
}
table,tr,th,td{
    width: 40%;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-collapse: collapse;
}

table{
    position: relative;
    top: 10px;
    left: 400px;
}