*{
    font-size: .9em;
    font-family: arial;
}

table,tr,th,td{
    width: 30%;
    align-items: center;
    border: 2px solid white;
    border-collapse: collapse;
}

table{
    position: relative;
    top: 75px;
    left: 500px;
}

td:first-child,td:nth-child(2),td:nth-child(3),td:nth-child(4) {
    text-align: center;
}